certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
h5py==2.9.0
idna==2.8
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
matplotlib==3.0.2
numexpr==2.6.9
numpy==1.16.1
opencv-python==4.0.0.21
pandas==0.24.1
phue==1.1
Pillow==5.4.1
pygame==1.9.4
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyYAML==4.2b4
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
soco==0.16
tables==3.4.4
urllib3==1.24.2
xmltodict==0.11.0
